{% extends "base.html" %}
{% block javascript %}
    $(".datepicker").datepicker({format:"yyyy-mm-dd"});
{% endblock%}
{% block page-content %}
    <h2 class="well">
        Create a To Do
    </h2>
    <div class="">
        <form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                    <input type="text" name="title" placeholder="Title">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <input type="text" name="description" placeholder="Description">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="venue">Venue</label>
                <div class="controls">
                    <input type="text" name="venue" placeholder="venue">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="date">Date</label>
                <div class="controls">
                    <input class="datepicker" type="text" name="date" placeholder="date">
                </div>
            </div>
            <div class="control-group">
                <input type="submit" value="Submit" class="btn">
            </div>
        </form>
    </div>
{% endblock%}

